<div class="bcf2000">
  <h2>BCF2000 layout</h2>
  <div class="secMain" ng-controller="Main">
    <div class="encGroup">      
      <control [name]='"encoder"' [id]="n" *ngFor="let n of range(1,8)"></control>
      <control [name]='"key"' [id]="n" *ngFor="let n of range(1,8)"></control>
    </div>
    <div class="encGroup" ng-show="egroups>=2">      
      <control [name]='"encoder"' [id]="n" *ngFor="let n of range(9,16)"></control>
      <control [name]='"key"' [id]="n" *ngFor="let n of range(9,16)"></control>
    </div>
    <div class="encGroup" ng-show="egroups>=3">      
      <control [name]='"encoder"' [id]="n" *ngFor="let n of range(17,24)"></control>
      <control [name]='"key"' [id]="n" *ngFor="let n of range(17,24)"></control>
    </div>
    <div class="encGroup" ng-show="egroups==4">      
      <control [name]='"encoder"' [id]="n" *ngFor="let n of range(25,32)"></control>
      <control [name]='"key"' [id]="n" *ngFor="let n of range(25,32)" ></control>
    </div>

    <div class="buttonRow">      
      <control [name]='"key"' [id]="n" *ngFor="let n of range(33,40)"></control>
    </div>
    <div class="buttonRow">      
      <control [name]='"key"' [id]="n" *ngFor="let n of range(41,48)"></control>
    </div>

    <div class="faders">
        <control [name]='"fader"' [id]="n" *ngFor="let n of range(1,8)"></control>
    </div>
  </div>
  <div class="secControls">
    <div class="enckeys">
     <!--
         EncoderGroups Available
keys/encoders
via push encoders
Functions of keys in ENCODER GROUPS
Top left Top right Bottom left Bottom right
1 1 .. 8 key 57 key 58 key 59 key 60
2 1 .. 16 Group 1 Group 2 key 59 key 60
3 1 .. 24 Group 1 Group 2 Group 3 key 60
4 1 .. 32 Group 1 Group 2 Group 3 Group 4
-->
      <control [name]='"key"' [id]="57" ng-show="egroups==1" ></control>
      <control [name]='"key"' [id]="58" ng-show="egroups==1" ></control>
      <control [name]='"key"' [id]="59" ng-show="egroups<=2" ></control>
      <control [name]='"key"' [id]="60" ng-show="egroups<=3" ></control>
    </div>
    
    <div class="functionKeys"  >
      <control [name]='"key"' [id]="n" *ngFor="let n of range(53,56)"></control>
    </div>
    
    <div class="navKeys"  >
      <control [name]='"key"' [id]="63" ng-show="lock===true"></control>
      <control [name]='"key"' [id]="64" ng-show="lock===true"></control>
    </div>
    
    <div class="userKeys" >
      <control [name]='"key"' [id]="n" *ngFor="let n of range(49,52)"></control>
    </div>

  </div>
</div>
